ul {
    list-style: none;
}

li {
    background-color: cadetblue;
    width: fit-content;
    border-radius: 25px;
    padding: 1rem;
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

.root-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}